*.mp4
images/*
Resnet50-pruning
classifier/pretrained_models/*
classifier/data
classifier/checkpoints/*/pth
datasets/*
classifier/model/*
classifier/checkpoints/*
include
lib
lib64
share
dist
bin
buid
etc